# cabal sandbox
.cabal-sandbox/
cabal.sandbox.config

# local database
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# chosen configuration file
/hs/Config.hs

# generated build files
/hs/dist/

# generated CSS
/public/style/

# generated resources
/public/res/graphs/gen/*.svg

# IDE project files
.idea
