# cabal sandbox
.cabal-sandbox/
cabal.sandbox.config

# local database
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# chosen configuration file
/app/Config.hs

# generated build files
/app/dist/

# generated stack files
.stack-work/

# generated CSS
/public/style/app.css

# generated resources
/graphs/gen/*.svg
/graphs/gen/*.png

# course videos
/public/videos/

# generated documentation
/doc

# IDE project files
.idea
.vscode

# Node (Javascript) modules
/node_modules

# TODO: eventually remove all public/js files from tracking
/public/js/search
/public/js/grid/app.js
/public/js/post/app.js
/public/js/graph/app.js
/public/js/draw/app.js

# coverage directory used by tools like istanbul and jest --coverage
coverage

# cypress suggested folder structure scaffolding
/cypress/fixtures
/cypress/integration/examples
/cypress/plugins
/cypress/support
