res/courses/
res/fastimetable2014.csv
timetable.html
timetable2014.csv
__pycache__/*
*.xlsx
res/courses/*
enrol.txt
res/courses-copy/
*.pyc
courses.tar.gz
out/
*.exe
*.hi
*.o
*.sqlite3
style/
SVGGen.hs
