/* General */

html, body {
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    font-family: "Trebuchet MS", Arial, Sans-Serif;
}

a {
    height: 100%;
    width: 100%;
    display: block;
    color: #ccc;
    text-decoration: none;
    outline-color: transparent;
}

fieldset { 
    border: none; 
}



/* Styles for the main tabs */
ul.tabList {
    float: left;
    width: 100%;
    height: 40px;
    display: block;
    margin: 0px;
    padding: 0px;
    background: #04356C;
    border-top-style: solid;
    border-bottom-style: solid;
}

ul.tabList li {
    list-style: none;
    float: left;
    background: #274F7D;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: thin;
    border-left-width: thin;
}

ul.tabList li.ui-tabs-active, ul.tabList li:hover {
    background: #0D56A6;
}

div.infoTab {
    float: left;
    width: 100%;
    background: #447BD4;
    color: white;
    height: 100%;
    overflow-y: auto;
}

/* My Courses tab */
.courseCell {
    display: inline-block;
    border: 1px solid black;
    color: black;
    text-align: center;
    width: 200px;
    height: 150px;
}

.courseCell p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.courseCell p.courseName {
    font-size: 1.2em;
    font-weight: bold;
}

#courseListTableDiv {
    padding-top: 2em;
    height: 100%;
    width: 100%;
}

/* Course Calendar tab */
div#calendar {
    padding-right: 30%;
    padding-top: 1em;
}

/* Timetable tab */

#filter {
  width: 200px;
  border: 1px solid black;
  font-family: "Trebuchet MS", Arial, Sans-Serif;
}

table.timeTable {
    width: 70%;
    margin: 0 auto;
    padding: 0em;
}

table.searchClass {
    width: 70%;
    margin: 0 auto;
    padding: 0em;
}

tr.timeTableRow {
    border: 1px solid white;
    width: 75px;
    height: 5px;
    text-align: center;
    font-size: 20px;
}

td.timeTableHeader{
    height: 25px;
    width: 16%;
    background: #000099;
}

td.timeTableBlock {
    
    width: 16%;
    background: #447BD4;
}

td.timeTableCourse {
    width: 16%;
    background: #0066CC;
    border: 4px solid black;
    color: black;
}

td.timeTableBlockSectionSpring {
    width: 16%;
    background: #B2E0FF;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockSectionFall {
    width: 16%;
    background: #FFCC66;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockSectionYear {
    width: 16%;
    background: #CCFFCC;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockTypeTutorial {
    width: 16%;
    background: #C2D6FF;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockType {
    width: 16%;
    background: #85A3FF;
    border: 2px solid black;
    color: black;
}


td.timeTableBlockTime {
    width: 16%;
    background: #7094FF;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockLocation {
    width: 16%;
    background: #66C2FF;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockInstructor {
    width: 16%;
    background: #DB94B8;
    border: 2px solid black;
    color: black;
}


/* Styling checkboxes */
input[type='checkbox'] {
    display: none;
}

label {  
    display: inline-block;  
    position: relative;  
    height: 20px;
    margin: 5px;
} 

label:before {  
    content: "";  
    display: inline-block;  
    width: 20px;  
    height: 20px;  
  
    color: green;
    font-size: 1.15em;
    font-family: bold;
    background-color: white;  
    text-align: center;
    vertical-align: -3px;

    margin-right: 10px;  
    position: relative;  
}  

input[type=checkbox]:checked + label:before {  
    content: "\2713";
}

/* Styles for the form */
#feedbackDescription {
  width: 40%;
  height: 100%;
  float: left;
  padding-right: 2em;
}

#feedbackDescription a {
  display: inline;
}

#feedbackFormDiv {
  width: 50%;
  height: 100%;
  float: left;
}

#feedbackMessageField {
    width: 90%;
    height: 90px;
    border: 1px solid black;
    font-family: "Trebuchet MS", Arial, Sans-Serif;
}

#feedbackNameField {
  width: 200px;
  border: 1px solid black;
  font-family: "Trebuchet MS", Arial, Sans-Serif;
}


/* SVG Styles */
#graph {
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 750px;
    overflow: hidden;
    clear: both;
}

#graphRootSVG {
    width: 100%;
    height: 100%;
    stroke: black;
    stroke-linecap: square;
    stroke-miterlimit: 10;
    color-interpolation: auto;
    overflow: hidden;
    shape-rendering: geometricPrecision;
}

g text{
    white-space: pre;
    text-align: center;
    font-size: 0.9em;
    stroke: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Node styles */

g.node {
    cursor: pointer;
}

g[data-active="active"] {
    opacity: 1.0;
    stroke-width: 3;
}

g[data-active="inactive"] {
    opacity: 0.4;
    stroke-dasharray: 8,8;
}

g[data-active="takeable"] {
    opacity: 0.75;
}

/* Used for hover */
g[data-active="missing"] rect {
    stroke-width: 3;
    stroke: #FF0000;
}

g[data-active="unlit"] rect {
    opacity: 1.0;
    fill: rgb(80,80,80) !important;
}

g[data-group='theory'] rect {
    fill: #B1C8D1;
}

g[data-group='core'] rect {
    fill: #C9C9C9;
}

g[data-group='se'] rect {
    fill: #E68080;
}

g[data-group='systems'] rect {
    fill: #C285FF;
}

g[data-group='graphics'] rect {
    fill: #66A366;
}

g[data-group='dbweb'] rect {
    fill: #FFE680;
}

g[data-group='num'] rect {
    fill: #DBB8FF;
}

g[data-group='ai'] rect {
    fill: #80B2FF;
}

g[data-group='hci'] rect {
    fill: #B8FF70;
}

/* Hybrid styles */
g.hybrid {
    cursor: default;
}

g.hybrid rect {
    fill: #B84D4D;
}

g.hybrid text{
    stroke: none;
    font-size: 0.6em;
}

g.bool {
    cursor: default;
}

g.bool ellipse {
    fill: none;
}

g.bool text {
    stroke: none;
    font-size: 0.5em;
    font-family: 'Comic Sans MS';
    font-weight: bold;
}

/* Focus spotlight styles */
ellipse.spotlight {
  fill: white; 
  opacity: 0.8; 
  stroke: none;
}

/* Edge styles */
path[data-active="takeable"] {
    fill: none;
    color: grey;
    stroke-dasharray: 6, 4;
}

path[data-active="inactive"] {
    fill: none;
    opacity: 0.4;
    stroke-dasharray: 6, 4;
}

path[data-active="active"] {
    fill: none;
    opacity: 1.0;
}

path[data-active="missing"] {
  stroke: #FF0000;
  fill: none;
}

path[data-active="missing"] #arrow path {
  stroke: #FF0000;
  fill: #FF0000;
}

/* Title style. */
#svgTitle {
    font-size: 2.5em;
    fill: #0f2d5b;
    font-family: Garamond, Serif;
    font-weight: bold;
}
