/* General */

html, body {
    margin: 0em;
    padding: 0em;
    width: 100%;
    min-width: 1300px;
    height: 100%;
    font-family: "Trebuchet MS", Arial, Sans-Serif;
    font-size: 16px;
}

html {
    overflow-y: auto;
}

a {
    height: 100%;
    width: 100%;
    display: block;
    color: #ccc;
    text-decoration: none;
    outline-color: transparent;
}

fieldset { 
    border: none; 
}


/* Styles for the main tabs */
.infoTabs {
    /*height: 450px;*/
    /*height: 100%;*/
    min-height: 450px;
    /*width: 100%;*/
    min-width: 1300px;
    margin: 0;
    padding: 0;
    background-color: #447BD4;
    padding-bottom: 2em;
    overflow: hidden;
}

.tabListDiv {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    background: #04356C;
    border-top-style: solid;
    border-bottom-style: solid;
}

ul.tabList {
    float: left;
    height: 100%;
    display: block;
    margin: 0px;
    padding: 0px;   
    padding-left: 2em; 
}

ul.tabList li {
    list-style: none;
    float: left;
    background: #274F7D;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: thin;
    border-left-width: thin;
}

ul.tabList li.ui-tabs-active, ul.tabList li:hover {
    background: #0D56A6;
}

div.infoTab {
    float: left;
    width: 100%;
    color: white;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* FCE Count */
#FCECountDiv {
    background: #66C2FF;
    float: right;
    width: 200px;
    text-align: center;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 1.35em;
    vertical-align: middle;
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: thin;
    border-left-width: thin;
}

/* Welcome Tab */
#welcome h2 {
  padding-left: 20px;
}

#welcome p {
  padding-left: 20px;
  width: 50%;
}
.welcomeList {
    padding-left: 20px;
    width: 50%;
}

/* My Courses tab */
.courseCell {
    display: inline-block;
    border: 1px solid black;
    color: black;
    text-align: center;
    width: 225px;
    height: 175px;
}

.courseCell p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.courseCell p.courseName {
    font-size: 1.2em;
    font-weight: bold;
}

#courseListTableDiv {
    padding-top: 2em;
    height: 100%;
    width: 100%;
}

/* Course Calendar tab */
div#calendar {
    padding-right: 30%;
    padding-top: 1em;
    padding-left: 2em;
}



/* Timetable tab */

#filter {
  width: 200px;
  border: 1px solid black;
  font-family: "Trebuchet MS", Arial, Sans-Serif;
}

#timetable table {
    border-spacing: 0;
}

#timetableContainer {
    width: 950px;
    float: left;
    height: 100%;
}

#timetableSearch {
    padding-top: 2em;
    padding-left: 2em;
    float: left;
}

#timetableMain {
    margin-top: 2em;
    margin-left: 2em;
    border: 2px solid black;
}

#timetableMain tr, #timetableMain td, .sessionHeader {
    border-color: black;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    border-right-width: 2px;
    vertical-align: top;
    min-height: 20px;
    color: black;
    margin: 0;
    padding: 0;
}

#timetableMain .courseTable tr, #timetableMain .courseTable td, #timetableMain .courseTable th {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: none;
}

#timetable td.timetableCourseName {
    width: 90px;
    font-size: 1.1em;
    text-align: center;
    vertical-align: middle;
}


#timetable td.timetableSection, #timetable th.timetableSection {
    width: 50px;
    background-color: #C2D6FF;
    text-align: center;
}

#timetable td.timetableTime, #timetable th.timetableTime {
    width: 135px;
    background-color: #7094FF;
    padding-left: 5px;
    padding-right: 5px;
}

#timetable td.timetableInstructor, #timetable th.timetableInstructor {
    width: 150px;
    background-color: #DB94B8;
    padding-left: 5px;
}

#timetable td.timetableCap, #timetable th.timetableCap {
    width: 75px;
    background-color: #B2E0FF;
    padding-left: 5px;
}

th.sessionHeader {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

/*
table.timeTable {
    width: 70%;
    margin: 0 auto;
    padding: 0em;
}

table.searchClass {
    width: 70%;
    margin: 0 auto;
    padding: 0em;
}

tr.timeTableRow {
    border: 1px solid white;
    width: 75px;
    height: 5px;
    text-align: center;
    font-size: 20px;
}

td.timeTableHeader{
    height: 25px;
    width: 16%;
    background: #000099;
}

td.timeTableBlock {
    
    width: 16%;
    background: #447BD4;
}

td.timeTableCourse {
    width: 16%;
    background: #0066CC;
    border: 4px solid black;
    color: black;
}

td.timeTableBlockSectionSpring {
    width: 16%;
    background: #B2E0FF;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockSectionFall {
    width: 16%;
    background: #FFCC66;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockSectionYear {
    width: 16%;
    background: #CCFFCC;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockTypeTutorial, td.timeTableBlockTutorialTime {
    width: 16%;
    background: #C2D6FF;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockType {
    width: 16%;
    background: #85A3FF;
    border: 2px solid black;
    color: black;
}


td.timeTableBlockTime {
    width: 16%;
    background: #7094FF;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockLocation {
    width: 16%;
    background: #66C2FF;
    border: 2px solid black;
    color: black;
}

td.timeTableBlockInstructor {
    width: 16%;
    background: #DB94B8;
    border: 2px solid black;
    color: black;
}

*/

/* Focus and POSt tabs */
div.focusDetails {
    background: #6A93D4;
    width: 800px;
    float: left;
    padding: 1em;
}

div.postDetails {
    background: #6A93D4;
    width: 350px;
    height: 300px;
    float: left;
    padding: 1em;
}

#focusListDiv {
    width: 275px;
    height: 100%;
    float: left;
    padding-top: 1em;
    padding-left: 2em;
}

ul.focusList {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#postListDiv {
  width: 250px;
  height: 100%;
  float: left;
  margin-top: 2em;
}

#postTypeListDiv {
  width: 150px;
  height: 100%;
  float: left;
  margin-left: 2em;
  margin-top: 2em;
}

ul.postList {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul.focusList li, ul.postList li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

ul.focusList li.ui-tabs-active, ul.focusList a:hover, ul.postList li.ui-tabs-active, ul.postList a:hover {
    background: #6A93D4;
}

.closeIcon {
    float: right;
    margin-top: 0.6em; 
    margin-bottom: 0.6em; 
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
}

/* POSt tab */
.postStatusIcon {
    float: right;
    margin-top: 0.6em; 
    margin-bottom: 0.6em; 
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
}

div.postFCETotalDiv {
    height: 100%;
    width: 300px;
    float: left;
    padding-top: 1em;
}


h4 {
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

div.postFCETotalDiv table {
    margin-left: auto;
    margin-right: auto;
}

td.FCECrit {
    text-align: right;
    padding-right: 0.1em;
}

td.FCETotal {
    padding-left: 0.1em;
}

table.checkTable {
    margin-left: auto;
    margin-right: auto;
}

.postDetails p {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

input[type=text] {
    width: 75px;
    text-align: center;
}


/* Styling checkboxes */
input[type='checkbox'] {
    display: none;
}

label {  
    display: inline-block;  
    position: relative;  
    height: 20px;
    margin: 5px;
} 

label:before {  
    content: "";  
    display: inline-block;  
    width: 20px;  
    height: 20px;  
  
    color: green;
    font-size: 1.15em;
    font-family: bold;
    background-color: white;  
    text-align: center;
    vertical-align: -3px;

    margin-right: 10px;  
    position: relative;  
}  

input[type=checkbox]:checked + label:before {  
    content: "\2713";
}

/* Styles for the form */
/*#feedbackDescription {
  width: 40%;
  height: 100%;
  float: left;
  padding-right: 2em;
  padding-left: 2em;
}

#feedbackDescription a {
  display: inline;
}

#feedbackFormDiv {
  width: 50%;
  height: 100%;
  float: left;
  padding-top: 1em;
}

#feedbackMessageField {
    width: 90%;
    height: 90px;
    border: 1px solid black;
    font-family: "Trebuchet MS", Arial, Sans-Serif;
}

#feedbackNameField {
  width: 200px;
  border: 1px solid black;
  font-family: "Trebuchet MS", Arial, Sans-Serif;
}*/
#feedback p {
  padding-left: 2em;
  width: 50%;
}

#feedback a {
  target: _blank;
  display: inline;
}


/* SVG Styles */
#graph {
    width: 1300px;
    height: 700px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

#graphRootSVG {
    width: 100%;
    height: 100%;
    stroke: black;
    stroke-linecap: square;
    stroke-miterlimit: 10;
    color-interpolation: auto;
    overflow: auto;
    shape-rendering: geometricPrecision;
}

g text{
    white-space: pre;
    text-align: center;
    /* font-size: 80%;*/
    stroke: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-anchor: middle;
}


/* Node styles */

g.node {
    cursor: pointer;
}

g[data-active="active"] {
    opacity: 1.0;
    stroke-width: 3;
}

g[data-active="inactive"] {
    opacity: 0.4;
    stroke-dasharray: 8,8;
}

g[data-active="takeable"] {
    opacity: 0.75;
}

/* Used for hover */
g[data-active="missing"] rect {
    stroke-width: 5;
    stroke: #CC0011;
}

/* Used for hover */
g[data-active="missing"] ellipse {
    stroke-width: 3;
    stroke: #CC0011;
}

g[data-active="unlit"] rect {
    opacity: 1.0;
    fill: rgb(80,80,80) !important;
}

g[data-group='theory'] rect {
    fill: #B1C8D1;
}

g[data-group='core'] rect {
    fill: #C9C9C9;
}

g[data-group='se'] rect {
    fill: #E68080;
}

g[data-group='systems'] rect {
    fill: #C285FF;
}

g[data-group='graphics'] rect {
    fill: #66A366;
}

g[data-group='dbweb'] rect {
    fill: #FFE680;
}

g[data-group='num'] rect {
    fill: #DBB8FF;
}

g[data-group='ai'] rect {
    fill: #80B2FF;
}

g[data-group='hci'] rect {
    fill: #B8FF70;
}

/* Hybrid styles */
g.hybrid {
    cursor: default;
}

g.hybrid rect {
    fill: #333333;
}

g.hybrid text{
    stroke: none;
    font-size: 0.6em;
    fill: white;
}

g.bool {
    cursor: default;
}

g.bool ellipse {
    fill: none;
}

g.bool text {
    stroke: none;
    font-size: 0.5em;
    font-family: 'Comic Sans MS';
    font-weight: bold;
}

/* Edge styles */
path[data-active="takeable"] {
    fill: none;
    color: grey;
    stroke-dasharray: 6, 4;
}

path[data-active="inactive"] {
    fill: none;
    opacity: 0.4;
    stroke-dasharray: 6, 4;
}

path[data-active="active"] {
    fill: none;
    opacity: 1.0;
}

path[data-active="missing"] {
  stroke: #CC0011;
  fill: none;
  opactiy: 0.5;
}


/* Title style. */
#svgTitle {
    font-size: 2.5em;
    fill: #0f2d5b;
    font-family: Garamond, Serif;
    font-weight: bold;
}

/* Focus spotlight styles */
ellipse.spotlight {
  fill: white; 
  opacity: 0.8; 
  stroke: none;
}


/* Styles for disclaimer */
#disclaimerDiv {
    width: 60%; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 12pt;
    margin-bottom: 10px;
    font-weight: bold;
}

#disclaimerDiv a {
    display: inline;
    color: #2115DD;
}