/**
 * Styles for the graph
 */

 #graph {
  width: 95%;
  height: 90%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#graphRootSVG {
  width: 100%;
  height: 100%;
  stroke: black;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  shape-rendering: geometricPrecision;
}

g text{
  white-space: pre;
  text-align: center;
  stroke: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-anchor: middle;
}


/* Node styles */
g.node {
  cursor: pointer;
}
g[data-active="active"] {
  opacity: 1.0;
  stroke-width: 3;
}
g[data-active="overridden"] {
  opacity: 1.0;
  stroke-width: 3;
  stroke: #CC0011;
}
g[data-active="inactive"] {
  opacity: 0.4;
  stroke-dasharray: 8,8;
}
g[data-active="takeable"] {
  opacity: 0.75;
}
/* Used for hover */
g[data-active="missing"] rect {
  stroke-width: 5;
  stroke: #CC0011;
}
/* Used for hover */
g[data-active="missing"] ellipse {
  stroke-width: 3;
  stroke: #CC0011;
}
g[data-active="unlit"] rect {
  opacity: 1.0;
  fill: rgb(80,80,80) !important;
}
g[data-group='theory'] rect { fill: #B1C8D1; }
g[data-group='core'] rect { fill: #C9C9C9; }
g[data-group='se'] rect { fill: #E68080; }
g[data-group='systems'] rect { fill: #C285FF; }
g[data-group='graphics'] rect { fill: #66A366; }
g[data-group='dbweb'] rect { fill: #FFE680; }
g[data-group='num'] rect { fill: #DBB8FF; }
g[data-group='ai'] rect { fill: #80B2FF; }
g[data-group='hci'] rect { fill: #B8FF70; }

/* Hybrid styles */
.hybrid {
  cursor: default;
  stroke: none;
}
.hybrid rect {
  fill: #333333;
}
.hybrid text {
  font-size: 0.6em;
  fill: white;
}
.bool {
  cursor: default;
}
.bool ellipse {
  fill: none;
}
.bool text {
  font-size: 0.5em;
  font-family: 'Comic Sans MS';
  font-weight: bold;
}

/* Edge styles */
path {
  fill: none;
}
path[data-active="takeable"] {
  stroke-dasharray: 6, 4;
}
path[data-active="inactive"] {
  opacity: 0.4;
  stroke-dasharray: 6, 4;
}
path[data-active="active"] {
  opacity: 1.0;
}
path[data-active="missing"] {
  stroke: #CC0011;
  opactiy: 0.5;
}

/* Title style. */
#svgTitle {
  font: 2.5em bold Garamond;
  fill: #0f2d5b;
}
#svgAuthors {
  font-size: 1em;
  fill: #0f2d5b;
  font-family: Garamond, Serif;
}

/* Focus spotlight styles */
.spotlight {
  fill: white; 
  opacity: 0.8; 
  stroke: none;
}

/* Reset button */
#resetButton {
  fill: red;
  cursor: pointer;
  font-size:15px;
}

.myButton {
  -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
  -webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
  box-shadow:inset 0px 0px 15px 3px #23395e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
  background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
  background-color:#2e466e;
  -moz-border-radius:17px;
  -webkit-border-radius:17px;
  border-radius:17px;
  border:1px solid #1f2f47;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  padding:6px 13px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
  background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
  background-color:#415989;
}
.myButton:active {
  position:relative;
  top:1px;
}
