/* Having issues connecting Css.Generate
Made a separate react app, implemented CSS there

If the code below is added to web dev tools for the Generate webpage, CSS is properly applied 
Should not take long to convert to Haskell */

#generateDiv {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5c497e;
    width: 500px;
    height: 100%;
    position: absolute;
  }
  
  #header {
    background-color: #7a6a96;
    height: 160px;
  }
  
  #header-title {
    color:  #d9e4ee;
    padding-top: 15px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
  }
  
  #main-filter {
    text-align: center;
    margin-top: 30px;
  }
  
  #main-filter input {
    border: 5px solid#5c497e;
  }
  
  #filter-title {
    color:  #d9e4ee;
    padding-left: 23px;
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
  }
  
  .filter {
    font-size: small;
    color:  #d9e4ee;
    padding-left: 23px;
    display: inline-block;
    padding-right: 10px;
  }
  
  ol, ul {
    padding-left: 0px;
    list-style-type: none; 
  }
  
  li{
    margin: 2px 0;
  }
  
  input {
    color: #5c497e;
    background:   #d9e4ee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 70px;
    border: 5px solid#7a6a96;
  }
  
  #submit {
    margin: auto;
    text-align: center;
    background:   #d9e4ee;
    border: 5px solid#7a6a96;
    width: 25%;
    padding-top: 10px;
  }
  
  #submit-text {
    font-weight: bolder;
    color: #5c497e;
  }