html, body {
  background-color: #dd9ded;
  font-family: "Museo Sans", Museo, sans;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

a,
a:visited {
  color:white;
}

#dialog {
  position: fixed;
  background-color: white;
  width: 100%;
  visibility: hidden;
  text-align: center;
  border-bottom: 2px solid #330000;
  z-index: 2147483647;
}

/* Header styles */
.header {
  /*width: 100%;*/
  background-color: #330000;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: vertical;
}

.header h2 {
  font-size: 1.7em;
  font-weight: bold;
  color: white;
  padding: 0;
  margin: 0.5em 0;
}

#home-link {
  text-align: right;
  font-weight: normal;
  width: 100%;
}

#home-link a,
#home-link a:hover,
#home-link a:visited {
  text-decoration: none;
}

/* Timetable styles */
.timetable-container {
  background-color: #7E4D66;
  padding: 0;
  margin: 0;
}

.timetable {
  margin: 0;
  padding: 0;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
}

caption {
  font-size: 1.6em;
  margin: 0.5em 0;
  text-align: center;
}

#timetable-fall {
  border-right: 2px solid black;
}

#timetable-spring {
  border-left: 2px solid black;
}

.timetable td,
.timetable th {
  width: 18%;
  height: 45px;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle !important;
  border-color: #DB94B8 !important;
}

.timetable .timetable-time {
  width: 10%;
  border: none;
}

.timetable th {
  font-size: 1.5em;
  background-color: rgba(219, 148, 184, 0.5);
  border-bottom: 1px solid !important;
  border-color: #DB94B8 !important;
  font-weight: normal;
}

#no-border {
  border: none
}


.timetable-cell-fall,
.timetable-cell-spring {
  border-top: 1px dashed !important;
  border-bottom: none !important;
  border-right: 1px solid !important;
  border-left: 1px solid !important;
  font-size: 1.1em;
}

#timetable-spring .timetable-time {
  text-align: left;
}

#timetable-fall .timetable-time {
  text-align: right;
}


/* Course selection */
#course-select-wrapper {
  overflow: hidden;
  height: 100%;
  background-color: #261B2A;
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  margin: 0;
}

#course-select {
  list-style-type: none;
  padding: 0;
  margin: 17px 0 0 17px;
  width: 100%;
  overflow: scroll;
  height: 100%;
  text-align: center;
}

#course-select > li {
	width: 95%;
}

/* Course select sections*/
.sections {
  overflow: auto;
}

.sections:hover {
  cursor: pointer;
}

.sectionList-fall {
  background-color: #DB94B8;
  width: 50%;
  float: left;
  border-right: 1px solid black;
}

.sectionList-spring {
  background-color: #DB94B8;
  width: 50%;
  float: right;
  border-left: 1px solid black;
}

.ui-accordion-content ul {
  display: block;
  margin: 0;
  padding: 0;
}

.sectionList-fall li:hover {
  background-color: #FF94B8;

}

.sectionList-spring li:hover {
  background-color: #F494FF;
  
}

.sectionList-year {
  background-color: yellow;
}

.clickedLectureTime {
  background-color: rgba(100, 50, 255, 0.6);
}

.clickedTutorialTime {
  background-color: rgba(255, 127, 80, 0.6);
}

.mouseOverGood {
  background-color: #DB94B8;
}

.mouseOverTaken {
  background-color: black;
}

.clickedLectureTime:hover {
  background-color: rgba(20, 0, 255, 0.5);
  cursor: pointer;
}

.clickedTutorialTime:hover {
  background-color: orange;
  cursor:pointer;
}

.mouseOverConflict {
  background-color: rgba(255, 0, 0, 0.5);
}

.mouseOverRemove {
  background-color: fuchsia;
}

.clickedConflictTime {
  background-color: rgba(255, 0, 0, 0.5);
}

.selectedTime {
  background-color: rgba(0,255,0,0.5);
}

.selectedLectureSection {
  background-color: white;
  color: black;
}

.selectedTutorialSection {
  background-color: rgba(255, 127,80,0);
  color: black;
}

#range {
  color: white;
}

#layout {
  width: 100%;
}

.starred-course {
  background-color: #261B2A;
}

.section-fall {
  text-align:center;
  background-color:#003366;
  color:white;
  display:block;
}

.section-spring {
  text-align: center;
  background-color: #003366;
  color: white;
  display: block;
}

.section-year {
  text-align: center;
  background-color: #003366;
  color: white;
}

.sectionClickedLecture {
  text-align: center;
  background-color: #6600FF;
  color: white;
}

.sectionClickedTutorial {
  text-align: center;
  background-color: orange;
  color: white;
}

.section-fall:hover {
  background-color: blue;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

.section-spring:hover {
  background-color: blue;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

.section-year:hover {
  background-color: blue;
  color: white;
  border: 2px solid black;
  cursor:pointer;
}

.clicked-header {
  background-color: rgba(219, 148, 184, 0.5);
}

.ui-accordion-header {
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  outline: none;
}

.ui-accordion-header:hover {
  background-color: #6600ff;
}

.ui-accordion-content {
  color: black;
  text-align: center;
  overflow: auto;
  width: 50%
}

.ui-accordion-header-active {
  background-color: #6600ff;
  border: 1px black;
}

.ui-tabs-anchor {

}

.clickedSectionUnsatisfied {
  background-color: rgba(160,32,240,0.6);
}

/* Info layout div*/

#info-layout {
  padding: 0em;
  margin: 0em;
  width: 100%;
  height:100px;
}

#info-layout h2 {
  font-size: 1.3em;
  margin: 0.5em;
}

#info-layout h4 {
  font-size: 1.1em;
  margin: 0.5em;
}

#info-layout h2 span {
  color: white;
}

#info-layout h4 span {
  color: white;
}

/* Search Box styles*/
#search-layout {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#search-container {
  text-align: center;
  color: white;
  overflow-y: scroll;
  height: 100%;
  margin: 17px 0 0 17px;
  width: 100%;
  padding: 0 10px 0 0;
}

#search-list ul {
  margin: 0.5em 0 0 0;
  padding: 0;
}

#search-list li {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

#search-list ul li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* Beta Warning */
#beta-warning {
  background-color: rgba(0, 0, 0, 0.5);
  float: center;
  color: white;
  padding: 10px 10px 10px 10px;
}