body {
	background-color: #c9c9c9;
	font-family: "Museo Sans", Museo, sans;
}

td {
	color: white;
	max-width: 70px;
	min-width: 60px;
	width:70px;
    overflow: hidden;
}

th {
    border-radius: 10px;
}

li {
	display:block;
}

caption {
	color:white;
}

a {
	color:white;
}

a:visited {
	color:white;
}

#master-layout {
	padding-top:10px;
	padding-left:10px;
}

/* Course selection */
#course-select-wrapper {
	overflow: hidden;
	width: 200px;
	position: absolute;
	height: 100%;
}

#course-select {
	position: relative;
    overflow: scroll;
	top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
    list-style-type: none;
	left: 0px;
	right: 0px;
	width: 200px;
	bottom: 200px;
    margin: 0;
    height: 100%;
    padding-right: 15px;
    padding-bottom: 200px;
}

/* The container for both time tables.*/
#timetables {
	margin-left: 220px;
	margin-right: 0px;
	/*position:fixed;*/
	overflow: hidden;
	width: 920px;
	min-width: 920px;
}

#timetable-fall {
	background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
	color: black;
	border-bottom: 2px solid #DB94B8;
	border-right: 2px solid #DB94B8;
    border-radius: 10px;
	left: 20px;
	margin-right: 0px;
	margin-left: 0px;
	width: 450px;
	right: 200px;
	top: 50px;
	/*float: left;*/
}

#timetable-spring {
	background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
	border-bottom: 2px solid #7094FF;
	border-right: 2px solid #7094FF;
    border-radius: 10px;
	left: 750px;
	margin-right: 0px;
	margin-left: 0px;
	width: 450px;
	right: 0px;
	top: 50px;
	/*float: right;*/
}

.timetable-header-fall {
	background-color: rgba(219, 148, 184, 0.5);
	border: 2px solid #DB94B8;
	color: white;
	font-weight: 900;
	font-size: 20px;
	/*border: 2px solid #DD94B8;*/
	height: 50px;
}

.timetable-header-spring {
	background-color: rgba(112, 148, 255, 0.5);
	border: 2px solid #7094FF;
	color: white;
	font-weight: 900;
	font-size: 20px;
	/*border: 2px solid #7094FF;*/
	height: 50px;
}

.timetable-cell-fall {
	border-bottom: 1px dashed #DB94B8;
	border-right: 1px solid #DB94B8;
	height: 30px;
	text-align: center;
	color: white;
	overflow: auto;
}

.timetable-cell-spring {
	border-bottom: 1px dashed #7094FF;
	border-right: 1px solid #7094FF;
	border-left: 1px solid #7094FF;
	height: 30px;
	text-align: center;
	color: white;
	overflow: hidden;
}

.timetable-time {
	background-color: rgba(34, 34, 102, 0.5);
	border: 1px solid #222266;
	border-right: 2px solid #222266;
	text-align: center;
	color: white;
    border-radius: 10px;
}

/* Course select sections*/
.sections {
	overflow:auto;
}

.sections:hover {
	cursor:pointer;
}

.sectionList-fall {
	background-color: #DB94B8;
	color: black;
    margin: auto;
	width:90px;
	overflow:hidden;
	display:block;
	float:left;
	text-align:center;
	margin: 0px 0px 0px 0px;
   	padding: 0px 0px 0px 0px;
}

.sectionList-spring {
	background-color: #7094FF;
	color: black;
	vertical-align: middle;
	width: 90px;
	overflow: hidden;
	display: block; 
	text-align:center;
	float: right;
	margin: 0px 0px 0px 0px;
   	padding: 0px 0px 0px 0px;
}

.sectionList-fall li:hover {
	background-color: #FF94B8;

}

.sectionList-spring li:hover {
	background-color: #F494FF;
	
}

.sectionList-year {
	background-color: yellow;
	vertical-align: middle;
	width: 186px;
	overflow: hidden;
	display: block; 
	text-align:center;
	float: right;
	margin: 0px 0px 0px 0px;
   	padding: 0px 0px 0px 0px;
}

.clickedLectureTime {
	background-color: rgba(0, 0, 255, 0.4);
}

.clickedTutorialTime {
	background-color: rgba(250, 149, 60, 0.4);
}

.mouseOverGood {
	background-color: rgba(60, 250, 82, 0.6);
}

.clickedLectureTime:hover {
	background-color: rgba(20, 0, 255, 0.5);
	cursor: pointer;
}

.clickedTutorialTime:hover {
	background-color: orange;
	cursor:pointer;
}

.mouseOverConflict {
	background-color: rgba(255, 0, 0, 0.5);
}

.clickedConflictTime {
	background-color: rgba(255, 0, 0, 0.5);
	font-size: 7px;
	overflow: hidden;
}

.selectedTime {
	background-color: rgba(0,255,0,0.5);
}

.selectedLectureSection {
	background-color: white;
	color: black;
}

.selectedTutorialSection {
	background-color: yellow;
	color: black;
}

#range {
	color: white;
}

#layout {
	width: 100%;
}

./*
course {
	background-color: red;
	color: black;
	display: block;
}
*/

.section-fall {
	text-align:center;
	background-color:#003366;
	color:white;
	display:block;
}

.section-spring {
	text-align: center;
	background-color: #003366;
	color: white;
	display: block;
}

.section-year {
	text-align: center;
	background-color: #003366;
	color: white;
}

.sectionClickedLecture {
	text-align: center;
	background-color: blue;
	color: white;
}

.sectionClickedTutorial {
	text-align: center;
	background-color: orange;
	color: white;
}

.section-fall:hover {
	background-color: blue;
	color: white;
	border: 2px solid black;
	cursor: pointer;
}

.section-spring:hover {
	background-color: blue;
	color: white;
	border: 2px solid black;
	cursor: pointer;
}

.section-year:hover {
	background-color:blue;
	color:white;
	border: 2px solid black;
	cursor:pointer;
}

.header {

}

.headerClickedLecture {
	text-align:center;
	background-color:blue;
	color:white;
}

.headerClickedTutorial {
	text-align:center;
	background-color:orange;
	color:white;
}

.ui-accordion-header {
	background-color: rgba(0, 51, 102, 0.9);
	color:white;
	text-align:center;
	cursor:pointer;
    margin: 0;
    display: block;
    width:100%;
}

.ui-accordion-header:hover {
	background-color: rgba(0, 61, 112, 0.5);
	color: white;
	display: block;
}

.accordion li {
    
}

.ui-accordion-content-active {
	
}

.ui-accordion-header-active {
	background-color: rgba(0, 51, 102, 0.5);
	color: white;
}

.ui-tabs-anchor {

}

/* Info layout div*/
#info-layout {
	border: 2px solid black;
	background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
	min-width: 900px;
	width: 900px;
    height: 500px;
}
/*
#course-info-code {
	margin-top: 10px;
	font-size: 20px;
	text-align:center;
	color: white;
	border: 2px solid blue;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.2);
}
*/

#pane-wrapper {
	margin-top: 20px;
	margin-left:20px;
	margin-right:20px;
	height: 400px;
}

#course-pane {
	background-color: rgba(60, 250, 82, 0.6);
	border: 2px solid #3CFA52;
    border-radius: 10px;
	width: 600px;
	float: left;
	height:100%;
}

#section-stats-pane {
	background-color: rgba(60, 250, 82, 0.6);
	border: 2px solid #3CFA52;
    border-radius: 10px;
	width: 230px;
	float: right;
	height:100%;
}

#course-info-code {
	font-size: 30px;
	color: white;
    border-radius: 10px;
    /*background-color: rgba(0, 0, 255, 0.2);*/
    text-decoration: underline;
}

#course-info-title {
	font-size: 30px;
	color: white;
    text-decoration: underline;
}