h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent; 
}
 

body {
    background-color: #EBE8E4;
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

nav{
    width: 95%;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: block;
    overflow: hidden;
    color: #888;
    margin: 8px 22px 8px 22px;
}
 
nav ul {
    width: 100%;
}
 
nav ul li {
    list-style-type: none;
    display: inline-block;
    width: 33.1%;
    text-align: centre;
	
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 
}
 

nav > ul > li > a {
    color: black;
    display: inline-block;
    line-height: 56px;
    padding: 0 24px;
    width: 70%;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: #9C9C9C !important;
}

nav > ul > li:hover > a {
    color: white !important;
}

div  p {
    padding-left: 20px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    line-height: 56px;
    list-style-type: none;
    text-align: center;
    margin-right: 10px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 
}

i {
    color: red;
}

#div_specialist, #div_major, #div_minor {
    position: absolute;
    margin-above: 70px;
    height: 70%;
    margin-left: 25px;
    width: 95%;
}

#spec_creds, #maj_creds, #min_creds {
    display: inline-block;
    margin-left: 0;
	color: red;
}

