
#graph
{
  width      : 95%;
  min-height : 600px;
  height     : 85vh;
  overflow   : hidden;
  margin     : 0px auto 0px auto;
}

#graphRootSVG
{
  width             : 100%;
  height            : 100%;
  stroke            : black;
  stroke-linecap    : square;
  stroke-miterlimit : 10;
  shape-rendering   : geometricPrecision;
}


g text
{
  text-align            : center;
  stroke                : none;
  -webkit-user-select   : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  -o-user-select        : none;
  user-select           : none;
  -webkit-touch-callout : none;
  -webkit-user-select   : none;
  -khtml-user-select    : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  text-anchor           : middle;
}

g.node
{
  cursor : pointer;
}

g.node text
{
  font-size : 12pt;
}


g.node[data-active='active'] > rect
{
  stroke-width : 3;
}


g.node[data-active='overridden'] > rect
{
  stroke-width : 3;
  stroke       : #CC0011;
}


g.node[data-active='inactive'] > rect
{
  opacity           : 0.4;
  stroked-dasharray : 8,8;
}


g.node[data-active='takeable'] > rect
{
  opacity : 0.69999;
}


g.node[data-active='missing'] > rect,
g.node[data-active='missing'] > ellipse
{
  stroke-width : 3;
  stroke       : #CC0011;
}

g.node[data-active='unlit']
{
  stroke-width : 3;
  stroke       : #CC0011;
}


g.node[data-group='theory'] > rect
{
  fill : #B1C8D1;
}


g.node[data-group='core'] > rect
{
  fill : #C9C9C9;
}


g.node[data-group='se'] > rect
{
  fill : #E68080;
}


g.node[data-group='systems'] > rect
{
  fill : #C285FF;
}


g.node[data-group='graphics'] > rect
{
  fill : #66A366;
}


g.node[data-group='dbweb'] > rect
{
  fill : #FFE680;
}


g.node[data-group='num'] > rect
{
  fill : #DBB8FF;
}


g.node[data-group='ai'] > rect
{
  fill : #80B2FF;
}


g.node[data-group='hci'] > rect
{
  fill : #B8FF70;
}

g.hybrid
{
  cursor : default;
}

g.hybrid > rect
{
  fill : grey;
}

g.hybrid > text
{
  font-size : 0.59999em;
  fill      : white;
}

g.bool
{
  cursor : default;
}

g.bool > ellipse
{
  fill : none;
}

g.bool > text
{
  font-size   : 0.5em;
  font-family : "Comic Sans MS", sans-serif;
  font-weight : bold;
}

g.spotlight
{
  opacity : 0.69999;
  fill    : white;
  stroke  : none;
}

path
{
  fill : none;
}

path[data-active='takeable']
{
  stroked-dasharray : 8,8;
}

path[data-active='inactive']
{
  opacity           : 0.4;
  stroked-dasharray : 8,8;
}

path[data-active='active']
{
  opacity : 1;
}

path[data-active='missing']
{
  opacity : 0.4;
  stroke  : #CC0011;
}

#resetButton
{
  fill         : #990000;
  cursor       : pointer;
  stroke-width : 3;
  stroke       : #404040;
}

#resetButton > text
{
  fill : white;
}

#svgTitle
{
  font-size   : 2.5em;
  font-weight : bold;
  font-family : "Bitter", serif;
  font-style  : italic;
  fill        : #072D68;
}

.modal
{
  background-color : rgb(55,74,161);
  padding          : 20px 20px 20px 20px;
  width            : 70%;
  height           : 70%;
  overflow         : auto;
}

.modal p
{
  color : rgb(255,255,255);
}

.ui-dialog-titlebar
{
  background-color : rgb(34,34,102);
  color            : rgb(255,255,255);
  font-size        : 2em;
  cursor           : move;
  text-align       : center;
}

.ui-dialog-titlebar-close
{
  display : none;
}

#bottom-content-container
{
  padding-top : 1em;
}

.ui-width-overlay
{
  height   : 100%;
  width    : 100%;
  left     : 0px;
  position : fixed;
  top      : 0px;
}


.ui-dialog tr
{
  margin : 0px auto 0px auto;
}


/* Generated with Clay, http://fvisser.nl/clay */