body
{
	background-color:#335CD6;
}

td
{
	background-color:black;
	color:white;
}
th
{
	background-color:black;
	color:white;
}

/* Timetable */
#timetable
{
	border: 2px solid black;
	position:absolute;
	left:350px;
	margin-right:0px;
	margin-left:0px;
	right:200px;
	top:50px;
	width:850px;
	float:right;
}

#layout
{
	position:absolute;
	width:100%;
}

.course
{
	background-color:white;
}
.section
{
	text-align:center;
	background-color:white;
}
.section:hover
{
	background-color:blue;
	color:white;
	border: 2px solid black;
	cursor:pointer;
}
.course h3 
{
	color:black;
	text-align:center;
	color:black;
	cursor:pointer;
    margin: 0;
    display: block;
}
.course h3:hover 
{
	background-color:black;
	color:white;
}

.timetable-header
{
	border: 2px solid black;
	min-width:100px;
	height:50px;
}


.timetable-time
{
	border: 2px solid black;
}

.timetable-cell	
{
	border: 2px solid black;
	min-width:100px;
	height:30px;
	text-align:center;
}

/* Course selection */
#course-select
{
	position:absolute;
	float:left;
	color:black;
	top:50px;
	margin-right:0px;
	margin-left:0px;
    list-style-type: none;
	left:20px;
	right:50px;
	width:200px;
    margin: 0;
}
li
{
	display:block;
}