body
{
	background-color:grey;
}

td
{
	background-color:white;
}
th
{
	background-color:white;
}

/* Timetable */
.timetable
{
	/*border: 2px solid black;*/
	cellspacing:0;
	cellpadding:0;
}

.timetable-header
{
	border: 2px solid black;
	min-width:100px;
	height:50px;
}


.timetable-time
{
	border: 2px solid black;
}

.timetable-cell	
{
	border: 2px solid black;
	min-width:100px;
	height:70px;
	text-align:center;
}

/* Course selection */
#course-select
{
	width:200px;
}